@import "../styles/color.scss";

aside {
  position:fixed;
  top: 0px;
  padding-top: 70px;
  // border-right: 2px solid black;
  height: 100vh;

  h4 {
    display: inline-block;
    font-size: 30px;
    margin-left: 10px ;
    bottom: 50%;
    transform: translate(0, 50%);
  }
}


.sidebar_content {
  clear: both;
  padding: 30px;
  
  p {
    position: relative; 
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
  }
}

.userName {
  text-align: center;
  margin-bottom: 0;
}

.searchForm form {
  position: relative;
  margin-bottom: 10px;
  width: auto;
}

.searchForm input {
  width: 75%;
  height: 35px;
  padding-left: 10px;
  border: 1px solid $black;
  border-radius: 5px;
  outline: none;
  background: #ffffff;
  color: #9E9C9C;

}
.searchForm button {
  position: absolute; 
  bottom: 0;
  right: 0px;
  width: 25%;
  height: 37px;
  border: none;
  background: $black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  margin: auto;
  padding: auto;
  padding-left: 20px;

}

.subscribeForm form {
  position: relative;
  margin-bottom: 10px;
  width: auto;
}

.subscribeForm input {
  width: 75%;
  height: 35px;
  padding-left: 10px;
  border: 1px solid #ffb900;
  /* border: none; */
  border-radius: 5px;
  outline: none;
  background: #ffffff;
  color: #9E9C9C;
  outline: none;
}

.subscribeForm button {
  position: absolute; 
  bottom: 0;
  right: 0;
  width: 25%;
  height: 37px;
  border: none;
  background: #ffb900;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  margin: auto;
  font-weight: 700;

  p {
    position: relative; 
    margin: auto;
    font-size: 14px;
    text-align: center;
  }
}

.searchForm button svg {
  width: 20px;
  height: 20px;
  position: relative;
}

.links {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  h3 {
    margin: 20px 0 5px 0;
    font-size: 16px;
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: $black;
    font-size: 16px;

    &:hover {
      color: $blue-dark;
      text-decoration: underline;
    }
  }
}

button {
  border: 0;
  padding: 0px;
  text-align: start;
  margin-bottom: 5px;
}

.avatar {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  bottom: 50%;
  transform: translate(0, 50%);
}

.userLogIn {
  padding-bottom: 20px;
  background-color: rgb(255, 255, 255);
  height: 127px;
}

.exit {
  display: block;
  width: 60px;
  background-color:transparent;
  margin-left: auto;
  padding: auto;
}

