$white: #FFFFFF;
$black: #292929;
$red: #C13515;
$blue: #00AAFF;
$blue-dark: #009CF0;
$blue-link: #009CF0;
$blue-hover: #D9F3FF;
$gray: #CCCCCC;
$gray-light: #F7F7F7;
$gray-normal: #666666;
$gray-dark: #444444;