.wrapper {
  padding: 20px;
  background-color: bisque;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

}

.item {
  width: 100%;
  background-color: #fff;


  h1 {
    margin-top: 0;
    font-weight: 500;
    font-size: 26px;
  }
}

.title {
  padding-top: 20px;
}

.wr {
  // background-color: red;
  height: 50vh;
}

.wrImg {
  position: relative;
  box-sizing: border-box;
  // width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  height: 100%;
  overflow: hidden;
}

.first {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
}

.image {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.second, .third {
  display:flex;
  flex-direction: column;
  position: absolute;
  padding-left: 8px;
  box-sizing: border-box;
  top: 0;
  width: 25%;
  height: 100%;

  div {
    box-sizing: border-box;
    height: 50%;
  }
}

.second {
  left: 50%;
}

.third {
  left: 75%;

}

.secImg {
  padding-top: 8px;
}

.itemDecsription {
  width: 58%;
}