$white: #FFFFFF;
$black: #292929;
$red: #FF6163;
$blue: #00AAFF;
$blue-dark: #003eff;
$blue-link: #009CF0;
$blue-hover: #D9F3FF;
$gray: #CCCCCC;
$gray-light: #EEEEEE;
$gray-normal: #666666;
$gray-dark: #444444;