@import '../../styles/mixin.scss';

.header {
  height: 80px;
  position: sticky;
  top: 0px;
  margin: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 0 80px;
  background-color: white;

  a{
    color: $black;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
  }

  .new {
    color: $white;
  }

  .logo {
    font-size: 32px;
    font-weight: bold;
  }
}

.new {
  @include button;

  padding: 6px 12px;
}