
.header {
  position: sticky;
  top: 0px;
  z-index: 12;
}

.title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
  z-index: 1;
}

h1 {
  width: max-content;
  margin-top: 5px;
  margin-bottom: 5px;
}

.title_backg {
  height: 28px;
  background-color: #82d9c8;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  flex-grow: 1;
  margin-left: 10px;
  // width: 100%;

}