

.maincontent {
  background-color: beige;
//   position:relative;
//   padding-left: 40px;
//   padding-right: 40px;
// display: block;
// width: 100%;
padding: 0 20px;



}

.title {
  display: inline-block;
}


.postList {
//   width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 20px;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-content:space-around;


}


.addFormBackgraund {
  position: fixed;
  height:auto;
  width: 100%;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  background: rgba(77, 77, 77, 0.7); 
  backdrop-filter: blur(20px);
}


.addForm {
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: auto;
}




